<meta charset="utf-8"><meta name="viewport" content="width=device-width,initial-scale=1"><meta name="theme-color" content="#fff"><meta name="title" content="Global Fandom Platform - Weverse"><meta name="description" content="Enjoy every moment with artists on global fandom life platform Weverse."><meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1"><meta property="og:type" content="website"><meta property="og:title" content="Global Fandom Platform - Weverse"><meta property="og:url" content="https://weverse.io"><meta property="og:image" content="https://ssl.pstatic.net/static/wevweb/assets/seo/weverse_bi.png?type=w1414"><meta property="og:description" content="Enjoy every moment with artists on global fandom life platform Weverse."><link rel="preconnect" href="https://cdn-v2pstatic.weverse.io/wev_web_fe/p/2_32_4/public"><link rel="preload" fetchpriority="high" href="https://cdn-v2pstatic.weverse.io/wev_web_fe/assets/fonts/pretendard/woff2-subset/Pretendard-Black.subset.woff2" as="font" type="font/woff2" crossorigin="anonymous"><link rel="preload" fetchpriority="high" href="https://cdn-v2pstatic.weverse.io/wev_web_fe/assets/fonts/pretendard/woff2-subset/Pretendard-Bold.subset.woff2" as="font" type="font/woff2" crossorigin="anonymous"><link rel="preload" fetchpriority="high" href="https://cdn-v2pstatic.weverse.io/wev_web_fe/assets/fonts/pretendard/woff2-subset/Pretendard-Medium.subset.woff2" as="font" type="font/woff2" crossorigin="anonymous"><link rel="preload" fetchpriority="high" href="https://cdn-v2pstatic.weverse.io/wev_web_fe/assets/fonts/pretendard/woff2-subset/Pretendard-Regular.subset.woff2" as="font" type="font/woff2" crossorigin="anonymous"><link rel="icon" fetchpriority="low" href="https://cdn-v2pstatic.weverse.io/wev_web_fe/assets/3_0_0/icons/favicon.ico"><link rel="apple-touch-icon" fetchpriority="low" href="https://cdn-v2pstatic.weverse.io/wev_web_fe/assets/3_0_0/icons/logo192.png"><link rel="manifest" fetchpriority="low" href="https://cdn-v2pstatic.weverse.io/wev_web_fe/p/2_32_4/public/manifest.json"><link rel="canonical" href="https://weverse.io"><link rel="alternate" hreflang="x-default" href="https://weverse.io"><link rel="alternate" hreflang="en" href="https://weverse.io"><link rel="alternate" hreflang="ko" href="https://weverse.io?hl=ko"><link rel="alternate" hreflang="ja" href="https://weverse.io?hl=ja"><link rel="alternate" hreflang="zh-cn" href="https://weverse.io?hl=zh-cn"><link rel="alternate" hreflang="es" href="https://weverse.io?hl=es"><link rel="alternate" href="android-app://co.benx.weverse"><link rel="alternate" href="ios-app://1456559188"><script type="text/javascript" id="www-widgetapi-script" src="https://www.youtube.com/s/player/f3d47b5a/www-widgetapi.vflset/www-widgetapi.js" async=""></script><script async="" src="https://websdk.appsflyer.com?st=pba&amp;"></script><script src="https://web-account-sdk.weverse.io/0.1.0/web_account_sdk.min.js"></script><title>[Light Jeans] MINJI &amp; HANNI SPUR Photoshoot Behind 💐ㅣNewJeans - NewJeans Weverse</title><script defer="defer" src="https://cdn-v2pstatic.weverse.io/wev_web_fe/p/2_32_4/public/static/js/main.6b6d6fbe.js"></script><link href="https://cdn-v2pstatic.weverse.io/wev_web_fe/p/2_32_4/public/static/css/main.9d86b0f6.css" rel="stylesheet"><script async="" id="wev-apps-flyer" type="text/javascript">
        !function(t,e,n,s,a,c,i,o,p){t.AppsFlyerSdkObject=a,t.AF=t.AF||function(){
          (t.AF.q=t.AF.q||[]).push([Date.now()].concat(Array.prototype.slice.call(arguments)))},
          t.AF.id=t.AF.id||i,t.AF.plugins={},o=e.createElement(n),p=e.getElementsByTagName(n)[0],o.async=1,
          o.addEventListener('load', window.__appsFlyerLoad),
          o.addEventListener('error', window.__appsFlyerError)
        ,
          o.src="https://websdk.appsflyer.com?"+(c.length>0?"st="+c.split(",").sort().join(",")+"&":"")+(i.length>0?"af_id="+i:""),
          p.parentNode.insertBefore(o,p)}(window,document,"script",0,"AF","pba",{pba: {webAppId: "e6ab1abd-02f8-4914-87bc-bf45c30feb6b", measurementStatus: false }});
        </script><link rel="stylesheet" type="text/css" href="https://cdn-v2pstatic.weverse.io/wev_web_fe/p/2_32_4/public/static/css/5262.10197749.chunk.css"><link rel="stylesheet" type="text/css" href="https://cdn-v2pstatic.weverse.io/wev_web_fe/p/2_32_4/public/static/css/7438.89d9df2d.chunk.css"><style data-emotion="css-global" data-s=""></style><link rel="stylesheet" type="text/css" href="https://cdn-v2pstatic.weverse.io/wev_web_fe/p/2_32_4/public/static/css/5234.8eefd2ce.chunk.css"><link rel="stylesheet" type="text/css" href="https://cdn-v2pstatic.weverse.io/wev_web_fe/p/2_32_4/public/static/css/1466.558c2daf.chunk.css"><link rel="stylesheet" type="text/css" href="https://cdn-v2pstatic.weverse.io/wev_web_fe/p/2_32_4/public/static/css/2013.3589bb82.chunk.css"><style id="wevWebAccountSDKStyle">
				#wevWebAccountSDK .sdk-alert-background {
					position: fixed;
					display: flex;
					align-items: center;
					justify-content: center;
					background: rgba(0, 0, 0, 0.8);
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					z-index: 5000;
				}
				
				#wevWebAccountSDK .sdk-alert-wrapper {
					width: 295px; 
					border-radius: 14px; 
					background: #fff; 
					padding: 30px 34px 20px;
					text-align: center;
				}
				
				#wevWebAccountSDK .sdk-alert-message {
					color: #111;
					font-family: Pretendard;
					font-size: 15px;
					line-height: 23px;
					overflow-wrap: break-word;
					word-break: break-word;
					margin: 0;
				}
				
				#wevWebAccountSDK .sdk-alert-button-wrapper {
					display: flex;
					justify-content: center;
					margin-top: 20px;
				}

				#wevWebAccountSDK .sdk-alert-button-wrapper button{
					width: 100%;
					border: 0;
					background-color: #fff;
					padding: 15px 0;
					cursor: pointer;
					color: #08CCCA;
					font-family: Pretendard;
					font-weight: 700;
					font-size: 16px;
				}
			</style><link rel="stylesheet" type="text/css" href="https://cdn-v2pstatic.weverse.io/wev_web_fe/p/2_32_4/public/static/css/4326.8a015e42.chunk.css"><style data-sass-component="light_global_8c91ad11-f04e-4cba-a959-07d64e255b6f">.WeverseModal,
.WeverseEditor,
.WeverseViewer,
.WeverseSorter {
  -webkit-text-size-adjust: none;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, Helvetica, Arial, Dotum, sans-serif;
  font-size: 13px;
  /* _reset.scss */
}
.WeverseModal p,
.WeverseModal h1,
.WeverseModal h2,
.WeverseModal h3,
.WeverseModal h4,
.WeverseModal h5,
.WeverseModal h6,
.WeverseModal ul,
.WeverseModal ol,
.WeverseModal li,
.WeverseModal dl,
.WeverseModal dt,
.WeverseModal dd,
.WeverseModal table,
.WeverseModal th,
.WeverseModal td,
.WeverseModal form,
.WeverseModal fieldset,
.WeverseModal legend,
.WeverseModal input,
.WeverseModal textarea,
.WeverseModal button,
.WeverseModal select,
.WeverseEditor p,
.WeverseEditor h1,
.WeverseEditor h2,
.WeverseEditor h3,
.WeverseEditor h4,
.WeverseEditor h5,
.WeverseEditor h6,
.WeverseEditor ul,
.WeverseEditor ol,
.WeverseEditor li,
.WeverseEditor dl,
.WeverseEditor dt,
.WeverseEditor dd,
.WeverseEditor table,
.WeverseEditor th,
.WeverseEditor td,
.WeverseEditor form,
.WeverseEditor fieldset,
.WeverseEditor legend,
.WeverseEditor input,
.WeverseEditor textarea,
.WeverseEditor button,
.WeverseEditor select,
.WeverseViewer p,
.WeverseViewer h1,
.WeverseViewer h2,
.WeverseViewer h3,
.WeverseViewer h4,
.WeverseViewer h5,
.WeverseViewer h6,
.WeverseViewer ul,
.WeverseViewer ol,
.WeverseViewer li,
.WeverseViewer dl,
.WeverseViewer dt,
.WeverseViewer dd,
.WeverseViewer table,
.WeverseViewer th,
.WeverseViewer td,
.WeverseViewer form,
.WeverseViewer fieldset,
.WeverseViewer legend,
.WeverseViewer input,
.WeverseViewer textarea,
.WeverseViewer button,
.WeverseViewer select,
.WeverseSorter p,
.WeverseSorter h1,
.WeverseSorter h2,
.WeverseSorter h3,
.WeverseSorter h4,
.WeverseSorter h5,
.WeverseSorter h6,
.WeverseSorter ul,
.WeverseSorter ol,
.WeverseSorter li,
.WeverseSorter dl,
.WeverseSorter dt,
.WeverseSorter dd,
.WeverseSorter table,
.WeverseSorter th,
.WeverseSorter td,
.WeverseSorter form,
.WeverseSorter fieldset,
.WeverseSorter legend,
.WeverseSorter input,
.WeverseSorter textarea,
.WeverseSorter button,
.WeverseSorter select {
  padding: 0;
  margin: 0;
}
.WeverseModal img,
.WeverseModal fieldset,
.WeverseEditor img,
.WeverseEditor fieldset,
.WeverseViewer img,
.WeverseViewer fieldset,
.WeverseSorter img,
.WeverseSorter fieldset {
  border: 0;
}
.WeverseModal ul,
.WeverseModal ol,
.WeverseModal li,
.WeverseEditor ul,
.WeverseEditor ol,
.WeverseEditor li,
.WeverseViewer ul,
.WeverseViewer ol,
.WeverseViewer li,
.WeverseSorter ul,
.WeverseSorter ol,
.WeverseSorter li {
  list-style: none;
}
.WeverseModal em,
.WeverseEditor em,
.WeverseViewer em,
.WeverseSorter em {
  font-style: normal;
}
.WeverseModal a,
.WeverseEditor a,
.WeverseViewer a,
.WeverseSorter a {
  color: inherit;
}
.WeverseModal a,
.WeverseModal a:hover,
.WeverseModal a:active,
.WeverseModal a:focus,
.WeverseEditor a,
.WeverseEditor a:hover,
.WeverseEditor a:active,
.WeverseEditor a:focus,
.WeverseViewer a,
.WeverseViewer a:hover,
.WeverseViewer a:active,
.WeverseViewer a:focus,
.WeverseSorter a,
.WeverseSorter a:hover,
.WeverseSorter a:active,
.WeverseSorter a:focus {
  text-decoration: none;
  cursor: pointer;
}
.WeverseModal form,
.WeverseModal fieldset,
.WeverseModal button,
.WeverseEditor form,
.WeverseEditor fieldset,
.WeverseEditor button,
.WeverseViewer form,
.WeverseViewer fieldset,
.WeverseViewer button,
.WeverseSorter form,
.WeverseSorter fieldset,
.WeverseSorter button {
  border: 0;
  vertical-align: top;
}
.WeverseModal button,
.WeverseEditor button,
.WeverseViewer button,
.WeverseSorter button {
  background: transparent;
  color: inherit;
  cursor: pointer;
}
.WeverseModal button:disabled,
.WeverseEditor button:disabled,
.WeverseViewer button:disabled,
.WeverseSorter button:disabled {
  cursor: default;
}
.WeverseModal img,
.WeverseEditor img,
.WeverseViewer img,
.WeverseSorter img {
  border: 0;
  vertical-align: top;
}
.WeverseModal input,
.WeverseModal select,
.WeverseEditor input,
.WeverseEditor select,
.WeverseViewer input,
.WeverseViewer select,
.WeverseSorter input,
.WeverseSorter select {
  vertical-align: middle;
  -webkit-appearance: none;
}
.WeverseModal input,
.WeverseEditor input,
.WeverseViewer input,
.WeverseSorter input {
  border: 0;
  border-radius: 0;
}
.WeverseModal input[type=checkbox],
.WeverseModal input[type=file],
.WeverseModal input[type=radio],
.WeverseEditor input[type=checkbox],
.WeverseEditor input[type=file],
.WeverseEditor input[type=radio],
.WeverseViewer input[type=checkbox],
.WeverseViewer input[type=file],
.WeverseViewer input[type=radio],
.WeverseSorter input[type=checkbox],
.WeverseSorter input[type=file],
.WeverseSorter input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  opacity: 0;
}
.WeverseModal input:-webkit-autofill,
.WeverseModal input:-webkit-autofill:hover,
.WeverseModal input:-webkit-autofill:focus,
.WeverseEditor input:-webkit-autofill,
.WeverseEditor input:-webkit-autofill:hover,
.WeverseEditor input:-webkit-autofill:focus,
.WeverseViewer input:-webkit-autofill,
.WeverseViewer input:-webkit-autofill:hover,
.WeverseViewer input:-webkit-autofill:focus,
.WeverseSorter input:-webkit-autofill,
.WeverseSorter input:-webkit-autofill:hover,
.WeverseSorter input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px #fff inset !important;
}
.WeverseModal button:focus,
.WeverseModal input:focus,
.WeverseModal textarea:focus,
.WeverseEditor button:focus,
.WeverseEditor input:focus,
.WeverseEditor textarea:focus,
.WeverseViewer button:focus,
.WeverseViewer input:focus,
.WeverseViewer textarea:focus,
.WeverseSorter button:focus,
.WeverseSorter input:focus,
.WeverseSorter textarea:focus {
  outline: none;
}
.WeverseModal input[type=text]:focus::placeholder,
.WeverseModal textarea:focus::placeholder,
.WeverseEditor input[type=text]:focus::placeholder,
.WeverseEditor textarea:focus::placeholder,
.WeverseViewer input[type=text]:focus::placeholder,
.WeverseViewer textarea:focus::placeholder,
.WeverseSorter input[type=text]:focus::placeholder,
.WeverseSorter textarea:focus::placeholder {
  color: transparent !important;
}
.WeverseModal textarea,
.WeverseEditor textarea,
.WeverseViewer textarea,
.WeverseSorter textarea {
  overflow: hidden;
}
.WeverseModal svg,
.WeverseEditor svg,
.WeverseViewer svg,
.WeverseSorter svg {
  display: block;
}

.WeverseModal .blind,
.WeverseViewer .blind,
.WeverseEditor .blind,
.WeverseSorter .blind {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.WeverseModal .scroll_none,
.WeverseViewer .scroll_none,
.WeverseEditor .scroll_none,
.WeverseSorter .scroll_none {
  overflow: hidden;
}

.WeverseViewer p,
.WeverseEditor p {
  font-size: 15px;
  line-height: 1.5;
}
.WeverseViewer .gHashTag,
.WeverseEditor .gHashTag {
  color: #00c0b5;
  font-weight: 500;
}
.WeverseViewer .gOuterLink,
.WeverseEditor .gOuterLink {
  color: #3190ff;
  font-weight: 500;
}
.WeverseViewer .WidgetPhoto .photo_wrap,
.WeverseEditor .WidgetPhoto .photo_wrap {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 14px;
  vertical-align: top;
}
.WeverseViewer .WidgetPhoto .photo_wrap::before,
.WeverseEditor .WidgetPhoto .photo_wrap::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  border: 1px solid rgba(0, 0, 0, 0.04);
  border-radius: inherit;
}
.WeverseViewer .WidgetPhoto .photo,
.WeverseEditor .WidgetPhoto .photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.WeverseViewer .WidgetPhoto .badge_gif,
.WeverseEditor .WidgetPhoto .badge_gif {
  position: absolute;
  right: 8px;
  bottom: 8px;
  width: 27px;
  height: 11px;
  padding: 3px 0;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 9px;
  line-height: 11px;
  text-align: center;
}
.WeverseViewer .WidgetSnippet .snippetWrap,
.WeverseEditor .WidgetSnippet .snippetWrap {
  display: flex;
  overflow: hidden;
  height: 178px;
  border: 1px solid #e4e4e4;
  border-radius: 14px;
}
.WeverseViewer .WidgetSnippet .wrapSnippetImage,
.WeverseEditor .WidgetSnippet .wrapSnippetImage {
  position: relative;
  flex-shrink: 0;
  width: 180px;
}
.WeverseViewer .WidgetSnippet .wrapSnippetImage::before,
.WeverseEditor .WidgetSnippet .wrapSnippetImage::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  border: 1px solid rgba(0, 0, 0, 0.04);
  border-radius: 13px 0 0 13px;
}
.WeverseViewer .WidgetSnippet .wrapSnippetImage .thumbnail,
.WeverseEditor .WidgetSnippet .wrapSnippetImage .thumbnail {
  object-fit: cover;
}
.WeverseViewer .WidgetSnippet .wrapSnippetContent,
.WeverseEditor .WidgetSnippet .wrapSnippetContent {
  flex-grow: 1;
  min-width: 0;
  padding: 22px 30px 22px 20px;
}
.WeverseViewer .WidgetSnippet .title,
.WeverseEditor .WidgetSnippet .title {
  word-break: break-word;
  overflow-wrap: break-word;
  display: -webkit-box;
  overflow: hidden;
  height: 48px;
  line-height: 24px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 18px;
}
.WeverseViewer .WidgetSnippet .description,
.WeverseEditor .WidgetSnippet .description {
  word-break: break-word;
  overflow-wrap: break-word;
  display: -webkit-box;
  overflow: hidden;
  height: 40px;
  line-height: 20px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-top: 6px;
  color: #666;
  font-size: 14px;
}
.WeverseViewer .WidgetSnippet .link,
.WeverseEditor .WidgetSnippet .link {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 24px;
  color: #666;
  font-size: 14px;
  line-height: 17px;
}</style><link rel="stylesheet" type="text/css" href="https://cdn-v2pstatic.weverse.io/wev_web_fe/p/2_32_4/public/static/css/3175.650adb08.chunk.css"><link rel="stylesheet" type="text/css" href="https://cdn-v2pstatic.weverse.io/wev_web_fe/p/2_32_4/public/static/css/6312.cadbe1e5.chunk.css"><style type="text/css">.marquee-container {
  overflow-x: hidden !important;
  display: flex !important;
  flex-direction: row !important;
  position: relative;
  width: 100%;
}
.marquee-container:hover div {
  animation-play-state: var(--pause-on-hover);
}
.marquee-container:active div {
  animation-play-state: var(--pause-on-click);
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}
.overlay::before, .overlay::after {
  background: linear-gradient(to right, var(--gradient-color));
  content: "";
  height: 100%;
  position: absolute;
  width: var(--gradient-width);
  z-index: 2;
}
.overlay::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.overlay::before {
  left: 0;
  top: 0;
}

.marquee {
  flex: 0 0 auto;
  min-width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  animation: scroll var(--duration) linear var(--delay) var(--iteration-count);
  animation-play-state: var(--play);
  animation-delay: var(--delay);
  animation-direction: var(--direction);
}
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}</style><link rel="stylesheet" type="text/css" href="https://cdn-v2pstatic.weverse.io/wev_web_fe/p/2_32_4/public/static/css/9990.c5b06815.chunk.css"><script src="https://securepubads.g.doubleclick.net/tag/js/gpt.js" id="inject_gpt-sdk" async="" crossorigin="anonymous" data-loaded="true"></script><link rel="stylesheet" type="text/css" href="https://cdn-v2pstatic.weverse.io/wev_web_fe/p/2_32_4/public/static/css/2823.c2a6df1d.chunk.css"><link rel="stylesheet" type="text/css" href="https://cdn-v2pstatic.weverse.io/wev_web_fe/p/2_32_4/public/static/css/8230.481b9b8d.chunk.css"><link rel="stylesheet" type="text/css" href="https://cdn-v2pstatic.weverse.io/wev_web_fe/p/2_32_4/public/static/css/5789.326d6959.chunk.css"><link rel="stylesheet" type="text/css" href="https://cdn-v2pstatic.weverse.io/wev_web_fe/p/2_32_4/public/static/css/3471.acbbd9f5.chunk.css"><link rel="stylesheet" type="text/css" href="https://cdn-v2pstatic.weverse.io/wev_web_fe/p/2_32_4/public/static/css/4072.d6982b3b.chunk.css"><link rel="stylesheet" type="text/css" href="https://cdn-v2pstatic.weverse.io/wev_web_fe/p/2_32_4/public/static/css/2150.b69e9c02.chunk.css"><link rel="stylesheet" type="text/css" href="https://cdn-v2pstatic.weverse.io/wev_web_fe/p/2_32_4/public/static/css/5978.fd60e112.chunk.css"><link rel="stylesheet" type="text/css" href="https://cdn-v2pstatic.weverse.io/wev_web_fe/p/2_32_4/public/static/css/5672.c999627a.chunk.css"><link rel="stylesheet" type="text/css" href="https://cdn-v2pstatic.weverse.io/wev_web_fe/p/2_32_4/public/static/css/8407.dd861d41.chunk.css"><link rel="stylesheet" type="text/css" href="https://cdn-v2pstatic.weverse.io/wev_web_fe/p/2_32_4/public/static/css/5399.a7881645.chunk.css"><link rel="stylesheet" type="text/css" href="https://cdn-v2pstatic.weverse.io/wev_web_fe/p/2_32_4/public/static/css/1165.e95017d1.chunk.css"><style data-sass-component="index_styles_6244c16b-1556-4923-a505-5cc54076cfc8">.editor-modal-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.75);
}

.editor-modal-common {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.editor-modal-common .editor-modal-content {
  border-radius: 14px;
  background-color: #fff;
}
.editor-modal-common .modal_action {
  display: flex;
  padding: 20px 40px;
}
.editor-modal-common .cancel_button,
.editor-modal-common .confirm_button {
  flex: 1 1 0;
  height: 50px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
}
.editor-modal-common .cancel_button:hover {
  background-color: #f7f7fa;
}
.editor-modal-common .confirm_button {
  margin-left: 20px;
  color: #00c0b5;
}
.editor-modal-common .confirm_button:hover {
  background-color: #f6fdfd;
}
.editor-modal-common .confirm_button:disabled {
  color: #c8c8c8;
}
.editor-modal-common .confirm_button:disabled:hover {
  background-color: transparent;
}</style><style data-sass-component="item_styles_31c0b651-979f-424b-bbaa-77df910d73d0">.editor-modal-attachment .editor-modal-content {
  width: 520px;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 60px);
  min-height: 300px;
}
.editor-modal-attachment .modal_title {
  display: block;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  padding: 30px 34px 14px;
}
.editor-modal-attachment .wrap_preview {
  padding: 10px 30px 14px;
  overflow-y: auto;
}
.editor-modal-attachment .preview_content {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  margin-right: -16px;
}
.editor-modal-attachment .preview_item {
  position: relative;
  overflow: hidden;
  width: 112px;
  height: 112px;
  border-radius: 4px;
}
.editor-modal-attachment .preview_item::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  border-radius: inherit;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.04);
}
.editor-modal-attachment .preview_item .thumbnail {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.editor-modal-attachment .preview_item .badge_gif {
  position: absolute;
  z-index: 5;
  bottom: 4px;
  right: 4px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  line-height: 17px;
  font-weight: 700;
  font-size: 10px;
  padding: 0 6px;
  color: #fff;
}
.editor-modal-attachment .preview_item .play_time_area {
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
  padding: 18px 8px 8px;
  text-align: right;
  box-sizing: border-box;
}
.editor-modal-attachment .preview_item .badge_play_time {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.5px;
  color: #fff;
}
.editor-modal-attachment .preview_item:hover .delete_area {
  display: block;
}
.editor-modal-attachment .preview_item .delete_area {
  display: none;
  height: 40px;
  background: linear-gradient(0, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  position: absolute;
  z-index: 10;
  top: 0px;
  left: 0;
  right: 0px;
  text-align: right;
}
.editor-modal-attachment .preview_item .delete {
  padding: 11px;
  cursor: pointer;
}
.editor-modal-attachment .preview_item[data-status=AWAIT]:before, .editor-modal-attachment .preview_item[data-status=AWAIT_UPLOAD]:before, .editor-modal-attachment .preview_item[data-status=PROGRESS]:before, .editor-modal-attachment .preview_item[data-status=ERROR]:before {
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.75);
}
.editor-modal-attachment .preview_item[data-status=AWAIT] .progress_bar, .editor-modal-attachment .preview_item[data-status=AWAIT_UPLOAD] .progress_bar, .editor-modal-attachment .preview_item[data-status=PROGRESS] .progress_bar {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 45px;
  height: 45px;
  transform: translate(-50%, -50%);
  z-index: 5;
}
.editor-modal-attachment .preview_item[data-status=AWAIT] .progress_bar div, .editor-modal-attachment .preview_item[data-status=AWAIT_UPLOAD] .progress_bar div, .editor-modal-attachment .preview_item[data-status=PROGRESS] .progress_bar div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 29px;
  height: 29px;
  margin: 8px;
  border: 3px solid #8e8e8e;
  border-radius: 50%;
  animation: progressing 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #8e8e8e transparent transparent transparent;
}
.editor-modal-attachment .preview_item[data-status=AWAIT] .progress_bar div:nth-child(1), .editor-modal-attachment .preview_item[data-status=AWAIT_UPLOAD] .progress_bar div:nth-child(1), .editor-modal-attachment .preview_item[data-status=PROGRESS] .progress_bar div:nth-child(1) {
  animation-delay: -0.45s;
}
.editor-modal-attachment .preview_item[data-status=AWAIT] .progress_bar div:nth-child(2), .editor-modal-attachment .preview_item[data-status=AWAIT_UPLOAD] .progress_bar div:nth-child(2), .editor-modal-attachment .preview_item[data-status=PROGRESS] .progress_bar div:nth-child(2) {
  animation-delay: -0.3s;
}
.editor-modal-attachment .preview_item[data-status=AWAIT] .progress_bar div:nth-child(3), .editor-modal-attachment .preview_item[data-status=AWAIT_UPLOAD] .progress_bar div:nth-child(3), .editor-modal-attachment .preview_item[data-status=PROGRESS] .progress_bar div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes progressing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.editor-modal-attachment .preview_item[data-status=ERROR] .error {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.editor-modal-attachment .add_more {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #f7f7fa;
  cursor: pointer;
}
.editor-modal-attachment .add_more:hover {
  background-color: #f0f0f0;
}

@keyframes progress {
  0% {
    left: 0%;
    right: 100%;
    width: 0%;
  }
  10% {
    left: 0%;
    right: 75%;
    width: 50%;
  }
  90% {
    right: 0%;
    left: 75%;
    width: 50%;
  }
  100% {
    left: 100%;
    right: 0%;
    width: 0%;
  }
}</style><style data-sass-component="index_styles_26275210-75b4-4333-8ef5-b0ca556b8776">.editor-modal-attachment .editor-modal-content {
  width: 520px;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 60px);
  min-height: 300px;
}
.editor-modal-attachment .modal_title {
  display: block;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  padding: 30px 34px 14px;
}
.editor-modal-attachment .wrap_preview {
  padding: 10px 30px 14px;
  overflow-y: auto;
}
.editor-modal-attachment .preview_content {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  margin-right: -16px;
}
.editor-modal-attachment .preview_item {
  position: relative;
  overflow: hidden;
  width: 112px;
  height: 112px;
  border-radius: 4px;
}
.editor-modal-attachment .preview_item::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  border-radius: inherit;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.04);
}
.editor-modal-attachment .preview_item .thumbnail {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.editor-modal-attachment .preview_item .badge_gif {
  position: absolute;
  z-index: 5;
  bottom: 4px;
  right: 4px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  line-height: 17px;
  font-weight: 700;
  font-size: 10px;
  padding: 0 6px;
  color: #fff;
}
.editor-modal-attachment .preview_item .play_time_area {
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
  padding: 18px 8px 8px;
  text-align: right;
  box-sizing: border-box;
}
.editor-modal-attachment .preview_item .badge_play_time {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.5px;
  color: #fff;
}
.editor-modal-attachment .preview_item:hover .delete_area {
  display: block;
}
.editor-modal-attachment .preview_item .delete_area {
  display: none;
  height: 40px;
  background: linear-gradient(0, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  position: absolute;
  z-index: 10;
  top: 0px;
  left: 0;
  right: 0px;
  text-align: right;
}
.editor-modal-attachment .preview_item .delete {
  padding: 11px;
  cursor: pointer;
}
.editor-modal-attachment .preview_item[data-status=AWAIT]:before, .editor-modal-attachment .preview_item[data-status=AWAIT_UPLOAD]:before, .editor-modal-attachment .preview_item[data-status=PROGRESS]:before, .editor-modal-attachment .preview_item[data-status=ERROR]:before {
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.75);
}
.editor-modal-attachment .preview_item[data-status=AWAIT] .progress_bar, .editor-modal-attachment .preview_item[data-status=AWAIT_UPLOAD] .progress_bar, .editor-modal-attachment .preview_item[data-status=PROGRESS] .progress_bar {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 45px;
  height: 45px;
  transform: translate(-50%, -50%);
  z-index: 5;
}
.editor-modal-attachment .preview_item[data-status=AWAIT] .progress_bar div, .editor-modal-attachment .preview_item[data-status=AWAIT_UPLOAD] .progress_bar div, .editor-modal-attachment .preview_item[data-status=PROGRESS] .progress_bar div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 29px;
  height: 29px;
  margin: 8px;
  border: 3px solid #8e8e8e;
  border-radius: 50%;
  animation: progressing 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #8e8e8e transparent transparent transparent;
}
.editor-modal-attachment .preview_item[data-status=AWAIT] .progress_bar div:nth-child(1), .editor-modal-attachment .preview_item[data-status=AWAIT_UPLOAD] .progress_bar div:nth-child(1), .editor-modal-attachment .preview_item[data-status=PROGRESS] .progress_bar div:nth-child(1) {
  animation-delay: -0.45s;
}
.editor-modal-attachment .preview_item[data-status=AWAIT] .progress_bar div:nth-child(2), .editor-modal-attachment .preview_item[data-status=AWAIT_UPLOAD] .progress_bar div:nth-child(2), .editor-modal-attachment .preview_item[data-status=PROGRESS] .progress_bar div:nth-child(2) {
  animation-delay: -0.3s;
}
.editor-modal-attachment .preview_item[data-status=AWAIT] .progress_bar div:nth-child(3), .editor-modal-attachment .preview_item[data-status=AWAIT_UPLOAD] .progress_bar div:nth-child(3), .editor-modal-attachment .preview_item[data-status=PROGRESS] .progress_bar div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes progressing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.editor-modal-attachment .preview_item[data-status=ERROR] .error {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.editor-modal-attachment .add_more {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #f7f7fa;
  cursor: pointer;
}
.editor-modal-attachment .add_more:hover {
  background-color: #f0f0f0;
}

@keyframes progress {
  0% {
    left: 0%;
    right: 100%;
    width: 0%;
  }
  10% {
    left: 0%;
    right: 75%;
    width: 50%;
  }
  90% {
    right: 0%;
    left: 75%;
    width: 50%;
  }
  100% {
    left: 100%;
    right: 0%;
    width: 0%;
  }
}</style><style data-sass-component="index_global_14a1c194-f684-4c9f-a580-81cfc104bd56">.WeverseModal,
.WeverseEditor,
.WeverseViewer,
.WeverseSorter {
  -webkit-text-size-adjust: none;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, Helvetica, Arial, Dotum, sans-serif;
  font-size: 13px;
  /* _reset.scss */
}
.WeverseModal p,
.WeverseModal h1,
.WeverseModal h2,
.WeverseModal h3,
.WeverseModal h4,
.WeverseModal h5,
.WeverseModal h6,
.WeverseModal ul,
.WeverseModal ol,
.WeverseModal li,
.WeverseModal dl,
.WeverseModal dt,
.WeverseModal dd,
.WeverseModal table,
.WeverseModal th,
.WeverseModal td,
.WeverseModal form,
.WeverseModal fieldset,
.WeverseModal legend,
.WeverseModal input,
.WeverseModal textarea,
.WeverseModal button,
.WeverseModal select,
.WeverseEditor p,
.WeverseEditor h1,
.WeverseEditor h2,
.WeverseEditor h3,
.WeverseEditor h4,
.WeverseEditor h5,
.WeverseEditor h6,
.WeverseEditor ul,
.WeverseEditor ol,
.WeverseEditor li,
.WeverseEditor dl,
.WeverseEditor dt,
.WeverseEditor dd,
.WeverseEditor table,
.WeverseEditor th,
.WeverseEditor td,
.WeverseEditor form,
.WeverseEditor fieldset,
.WeverseEditor legend,
.WeverseEditor input,
.WeverseEditor textarea,
.WeverseEditor button,
.WeverseEditor select,
.WeverseViewer p,
.WeverseViewer h1,
.WeverseViewer h2,
.WeverseViewer h3,
.WeverseViewer h4,
.WeverseViewer h5,
.WeverseViewer h6,
.WeverseViewer ul,
.WeverseViewer ol,
.WeverseViewer li,
.WeverseViewer dl,
.WeverseViewer dt,
.WeverseViewer dd,
.WeverseViewer table,
.WeverseViewer th,
.WeverseViewer td,
.WeverseViewer form,
.WeverseViewer fieldset,
.WeverseViewer legend,
.WeverseViewer input,
.WeverseViewer textarea,
.WeverseViewer button,
.WeverseViewer select,
.WeverseSorter p,
.WeverseSorter h1,
.WeverseSorter h2,
.WeverseSorter h3,
.WeverseSorter h4,
.WeverseSorter h5,
.WeverseSorter h6,
.WeverseSorter ul,
.WeverseSorter ol,
.WeverseSorter li,
.WeverseSorter dl,
.WeverseSorter dt,
.WeverseSorter dd,
.WeverseSorter table,
.WeverseSorter th,
.WeverseSorter td,
.WeverseSorter form,
.WeverseSorter fieldset,
.WeverseSorter legend,
.WeverseSorter input,
.WeverseSorter textarea,
.WeverseSorter button,
.WeverseSorter select {
  padding: 0;
  margin: 0;
}
.WeverseModal img,
.WeverseModal fieldset,
.WeverseEditor img,
.WeverseEditor fieldset,
.WeverseViewer img,
.WeverseViewer fieldset,
.WeverseSorter img,
.WeverseSorter fieldset {
  border: 0;
}
.WeverseModal ul,
.WeverseModal ol,
.WeverseModal li,
.WeverseEditor ul,
.WeverseEditor ol,
.WeverseEditor li,
.WeverseViewer ul,
.WeverseViewer ol,
.WeverseViewer li,
.WeverseSorter ul,
.WeverseSorter ol,
.WeverseSorter li {
  list-style: none;
}
.WeverseModal em,
.WeverseEditor em,
.WeverseViewer em,
.WeverseSorter em {
  font-style: normal;
}
.WeverseModal a,
.WeverseEditor a,
.WeverseViewer a,
.WeverseSorter a {
  color: inherit;
}
.WeverseModal a,
.WeverseModal a:hover,
.WeverseModal a:active,
.WeverseModal a:focus,
.WeverseEditor a,
.WeverseEditor a:hover,
.WeverseEditor a:active,
.WeverseEditor a:focus,
.WeverseViewer a,
.WeverseViewer a:hover,
.WeverseViewer a:active,
.WeverseViewer a:focus,
.WeverseSorter a,
.WeverseSorter a:hover,
.WeverseSorter a:active,
.WeverseSorter a:focus {
  text-decoration: none;
  cursor: pointer;
}
.WeverseModal form,
.WeverseModal fieldset,
.WeverseModal button,
.WeverseEditor form,
.WeverseEditor fieldset,
.WeverseEditor button,
.WeverseViewer form,
.WeverseViewer fieldset,
.WeverseViewer button,
.WeverseSorter form,
.WeverseSorter fieldset,
.WeverseSorter button {
  border: 0;
  vertical-align: top;
}
.WeverseModal button,
.WeverseEditor button,
.WeverseViewer button,
.WeverseSorter button {
  background: transparent;
  color: inherit;
  cursor: pointer;
}
.WeverseModal button:disabled,
.WeverseEditor button:disabled,
.WeverseViewer button:disabled,
.WeverseSorter button:disabled {
  cursor: default;
}
.WeverseModal img,
.WeverseEditor img,
.WeverseViewer img,
.WeverseSorter img {
  border: 0;
  vertical-align: top;
}
.WeverseModal input,
.WeverseModal select,
.WeverseEditor input,
.WeverseEditor select,
.WeverseViewer input,
.WeverseViewer select,
.WeverseSorter input,
.WeverseSorter select {
  vertical-align: middle;
  -webkit-appearance: none;
}
.WeverseModal input,
.WeverseEditor input,
.WeverseViewer input,
.WeverseSorter input {
  border: 0;
  border-radius: 0;
}
.WeverseModal input[type=checkbox],
.WeverseModal input[type=file],
.WeverseModal input[type=radio],
.WeverseEditor input[type=checkbox],
.WeverseEditor input[type=file],
.WeverseEditor input[type=radio],
.WeverseViewer input[type=checkbox],
.WeverseViewer input[type=file],
.WeverseViewer input[type=radio],
.WeverseSorter input[type=checkbox],
.WeverseSorter input[type=file],
.WeverseSorter input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  opacity: 0;
}
.WeverseModal input:-webkit-autofill,
.WeverseModal input:-webkit-autofill:hover,
.WeverseModal input:-webkit-autofill:focus,
.WeverseEditor input:-webkit-autofill,
.WeverseEditor input:-webkit-autofill:hover,
.WeverseEditor input:-webkit-autofill:focus,
.WeverseViewer input:-webkit-autofill,
.WeverseViewer input:-webkit-autofill:hover,
.WeverseViewer input:-webkit-autofill:focus,
.WeverseSorter input:-webkit-autofill,
.WeverseSorter input:-webkit-autofill:hover,
.WeverseSorter input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px #fff inset !important;
}
.WeverseModal button:focus,
.WeverseModal input:focus,
.WeverseModal textarea:focus,
.WeverseEditor button:focus,
.WeverseEditor input:focus,
.WeverseEditor textarea:focus,
.WeverseViewer button:focus,
.WeverseViewer input:focus,
.WeverseViewer textarea:focus,
.WeverseSorter button:focus,
.WeverseSorter input:focus,
.WeverseSorter textarea:focus {
  outline: none;
}
.WeverseModal input[type=text]:focus::placeholder,
.WeverseModal textarea:focus::placeholder,
.WeverseEditor input[type=text]:focus::placeholder,
.WeverseEditor textarea:focus::placeholder,
.WeverseViewer input[type=text]:focus::placeholder,
.WeverseViewer textarea:focus::placeholder,
.WeverseSorter input[type=text]:focus::placeholder,
.WeverseSorter textarea:focus::placeholder {
  color: transparent !important;
}
.WeverseModal textarea,
.WeverseEditor textarea,
.WeverseViewer textarea,
.WeverseSorter textarea {
  overflow: hidden;
}
.WeverseModal svg,
.WeverseEditor svg,
.WeverseViewer svg,
.WeverseSorter svg {
  display: block;
}

.WeverseModal .blind,
.WeverseViewer .blind,
.WeverseEditor .blind,
.WeverseSorter .blind {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.WeverseModal .scroll_none,
.WeverseViewer .scroll_none,
.WeverseEditor .scroll_none,
.WeverseSorter .scroll_none {
  overflow: hidden;
}

.WeverseViewer p,
.WeverseEditor p {
  font-size: 15px;
  line-height: 1.5;
}
.WeverseViewer .gHashTag,
.WeverseEditor .gHashTag {
  color: #00c0b5;
  font-weight: 500;
}
.WeverseViewer .gOuterLink,
.WeverseEditor .gOuterLink {
  color: #3190ff;
  font-weight: 500;
}
.WeverseViewer .WidgetPhoto .photo_wrap,
.WeverseEditor .WidgetPhoto .photo_wrap {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 14px;
  vertical-align: top;
}
.WeverseViewer .WidgetPhoto .photo_wrap::before,
.WeverseEditor .WidgetPhoto .photo_wrap::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  border: 1px solid rgba(0, 0, 0, 0.04);
  border-radius: inherit;
}
.WeverseViewer .WidgetPhoto .photo,
.WeverseEditor .WidgetPhoto .photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.WeverseViewer .WidgetPhoto .badge_gif,
.WeverseEditor .WidgetPhoto .badge_gif {
  position: absolute;
  right: 8px;
  bottom: 8px;
  width: 27px;
  height: 11px;
  padding: 3px 0;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 9px;
  line-height: 11px;
  text-align: center;
}
.WeverseViewer .WidgetSnippet .snippetWrap,
.WeverseEditor .WidgetSnippet .snippetWrap {
  display: flex;
  overflow: hidden;
  height: 178px;
  border: 1px solid #e4e4e4;
  border-radius: 14px;
}
.WeverseViewer .WidgetSnippet .wrapSnippetImage,
.WeverseEditor .WidgetSnippet .wrapSnippetImage {
  position: relative;
  flex-shrink: 0;
  width: 180px;
}
.WeverseViewer .WidgetSnippet .wrapSnippetImage::before,
.WeverseEditor .WidgetSnippet .wrapSnippetImage::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  border: 1px solid rgba(0, 0, 0, 0.04);
  border-radius: 13px 0 0 13px;
}
.WeverseViewer .WidgetSnippet .wrapSnippetImage .thumbnail,
.WeverseEditor .WidgetSnippet .wrapSnippetImage .thumbnail {
  object-fit: cover;
}
.WeverseViewer .WidgetSnippet .wrapSnippetContent,
.WeverseEditor .WidgetSnippet .wrapSnippetContent {
  flex-grow: 1;
  min-width: 0;
  padding: 22px 30px 22px 20px;
}
.WeverseViewer .WidgetSnippet .title,
.WeverseEditor .WidgetSnippet .title {
  word-break: break-word;
  overflow-wrap: break-word;
  display: -webkit-box;
  overflow: hidden;
  height: 48px;
  line-height: 24px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 18px;
}
.WeverseViewer .WidgetSnippet .description,
.WeverseEditor .WidgetSnippet .description {
  word-break: break-word;
  overflow-wrap: break-word;
  display: -webkit-box;
  overflow: hidden;
  height: 40px;
  line-height: 20px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-top: 6px;
  color: #666;
  font-size: 14px;
}
.WeverseViewer .WidgetSnippet .link,
.WeverseEditor .WidgetSnippet .link {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 24px;
  color: #666;
  font-size: 14px;
  line-height: 17px;
}</style><style data-sass-component="index_global_c0eba54f-07fc-429c-959d-9b354d861c25">.WeverseModal,
.WeverseEditor,
.WeverseViewer,
.WeverseSorter {
  -webkit-text-size-adjust: none;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, Helvetica, Arial, Dotum, sans-serif;
  font-size: 13px;
  /* _reset.scss */
}
.WeverseModal p,
.WeverseModal h1,
.WeverseModal h2,
.WeverseModal h3,
.WeverseModal h4,
.WeverseModal h5,
.WeverseModal h6,
.WeverseModal ul,
.WeverseModal ol,
.WeverseModal li,
.WeverseModal dl,
.WeverseModal dt,
.WeverseModal dd,
.WeverseModal table,
.WeverseModal th,
.WeverseModal td,
.WeverseModal form,
.WeverseModal fieldset,
.WeverseModal legend,
.WeverseModal input,
.WeverseModal textarea,
.WeverseModal button,
.WeverseModal select,
.WeverseEditor p,
.WeverseEditor h1,
.WeverseEditor h2,
.WeverseEditor h3,
.WeverseEditor h4,
.WeverseEditor h5,
.WeverseEditor h6,
.WeverseEditor ul,
.WeverseEditor ol,
.WeverseEditor li,
.WeverseEditor dl,
.WeverseEditor dt,
.WeverseEditor dd,
.WeverseEditor table,
.WeverseEditor th,
.WeverseEditor td,
.WeverseEditor form,
.WeverseEditor fieldset,
.WeverseEditor legend,
.WeverseEditor input,
.WeverseEditor textarea,
.WeverseEditor button,
.WeverseEditor select,
.WeverseViewer p,
.WeverseViewer h1,
.WeverseViewer h2,
.WeverseViewer h3,
.WeverseViewer h4,
.WeverseViewer h5,
.WeverseViewer h6,
.WeverseViewer ul,
.WeverseViewer ol,
.WeverseViewer li,
.WeverseViewer dl,
.WeverseViewer dt,
.WeverseViewer dd,
.WeverseViewer table,
.WeverseViewer th,
.WeverseViewer td,
.WeverseViewer form,
.WeverseViewer fieldset,
.WeverseViewer legend,
.WeverseViewer input,
.WeverseViewer textarea,
.WeverseViewer button,
.WeverseViewer select,
.WeverseSorter p,
.WeverseSorter h1,
.WeverseSorter h2,
.WeverseSorter h3,
.WeverseSorter h4,
.WeverseSorter h5,
.WeverseSorter h6,
.WeverseSorter ul,
.WeverseSorter ol,
.WeverseSorter li,
.WeverseSorter dl,
.WeverseSorter dt,
.WeverseSorter dd,
.WeverseSorter table,
.WeverseSorter th,
.WeverseSorter td,
.WeverseSorter form,
.WeverseSorter fieldset,
.WeverseSorter legend,
.WeverseSorter input,
.WeverseSorter textarea,
.WeverseSorter button,
.WeverseSorter select {
  padding: 0;
  margin: 0;
}
.WeverseModal img,
.WeverseModal fieldset,
.WeverseEditor img,
.WeverseEditor fieldset,
.WeverseViewer img,
.WeverseViewer fieldset,
.WeverseSorter img,
.WeverseSorter fieldset {
  border: 0;
}
.WeverseModal ul,
.WeverseModal ol,
.WeverseModal li,
.WeverseEditor ul,
.WeverseEditor ol,
.WeverseEditor li,
.WeverseViewer ul,
.WeverseViewer ol,
.WeverseViewer li,
.WeverseSorter ul,
.WeverseSorter ol,
.WeverseSorter li {
  list-style: none;
}
.WeverseModal em,
.WeverseEditor em,
.WeverseViewer em,
.WeverseSorter em {
  font-style: normal;
}
.WeverseModal a,
.WeverseEditor a,
.WeverseViewer a,
.WeverseSorter a {
  color: inherit;
}
.WeverseModal a,
.WeverseModal a:hover,
.WeverseModal a:active,
.WeverseModal a:focus,
.WeverseEditor a,
.WeverseEditor a:hover,
.WeverseEditor a:active,
.WeverseEditor a:focus,
.WeverseViewer a,
.WeverseViewer a:hover,
.WeverseViewer a:active,
.WeverseViewer a:focus,
.WeverseSorter a,
.WeverseSorter a:hover,
.WeverseSorter a:active,
.WeverseSorter a:focus {
  text-decoration: none;
  cursor: pointer;
}
.WeverseModal form,
.WeverseModal fieldset,
.WeverseModal button,
.WeverseEditor form,
.WeverseEditor fieldset,
.WeverseEditor button,
.WeverseViewer form,
.WeverseViewer fieldset,
.WeverseViewer button,
.WeverseSorter form,
.WeverseSorter fieldset,
.WeverseSorter button {
  border: 0;
  vertical-align: top;
}
.WeverseModal button,
.WeverseEditor button,
.WeverseViewer button,
.WeverseSorter button {
  background: transparent;
  color: inherit;
  cursor: pointer;
}
.WeverseModal button:disabled,
.WeverseEditor button:disabled,
.WeverseViewer button:disabled,
.WeverseSorter button:disabled {
  cursor: default;
}
.WeverseModal img,
.WeverseEditor img,
.WeverseViewer img,
.WeverseSorter img {
  border: 0;
  vertical-align: top;
}
.WeverseModal input,
.WeverseModal select,
.WeverseEditor input,
.WeverseEditor select,
.WeverseViewer input,
.WeverseViewer select,
.WeverseSorter input,
.WeverseSorter select {
  vertical-align: middle;
  -webkit-appearance: none;
}
.WeverseModal input,
.WeverseEditor input,
.WeverseViewer input,
.WeverseSorter input {
  border: 0;
  border-radius: 0;
}
.WeverseModal input[type=checkbox],
.WeverseModal input[type=file],
.WeverseModal input[type=radio],
.WeverseEditor input[type=checkbox],
.WeverseEditor input[type=file],
.WeverseEditor input[type=radio],
.WeverseViewer input[type=checkbox],
.WeverseViewer input[type=file],
.WeverseViewer input[type=radio],
.WeverseSorter input[type=checkbox],
.WeverseSorter input[type=file],
.WeverseSorter input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  opacity: 0;
}
.WeverseModal input:-webkit-autofill,
.WeverseModal input:-webkit-autofill:hover,
.WeverseModal input:-webkit-autofill:focus,
.WeverseEditor input:-webkit-autofill,
.WeverseEditor input:-webkit-autofill:hover,
.WeverseEditor input:-webkit-autofill:focus,
.WeverseViewer input:-webkit-autofill,
.WeverseViewer input:-webkit-autofill:hover,
.WeverseViewer input:-webkit-autofill:focus,
.WeverseSorter input:-webkit-autofill,
.WeverseSorter input:-webkit-autofill:hover,
.WeverseSorter input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px #fff inset !important;
}
.WeverseModal button:focus,
.WeverseModal input:focus,
.WeverseModal textarea:focus,
.WeverseEditor button:focus,
.WeverseEditor input:focus,
.WeverseEditor textarea:focus,
.WeverseViewer button:focus,
.WeverseViewer input:focus,
.WeverseViewer textarea:focus,
.WeverseSorter button:focus,
.WeverseSorter input:focus,
.WeverseSorter textarea:focus {
  outline: none;
}
.WeverseModal input[type=text]:focus::placeholder,
.WeverseModal textarea:focus::placeholder,
.WeverseEditor input[type=text]:focus::placeholder,
.WeverseEditor textarea:focus::placeholder,
.WeverseViewer input[type=text]:focus::placeholder,
.WeverseViewer textarea:focus::placeholder,
.WeverseSorter input[type=text]:focus::placeholder,
.WeverseSorter textarea:focus::placeholder {
  color: transparent !important;
}
.WeverseModal textarea,
.WeverseEditor textarea,
.WeverseViewer textarea,
.WeverseSorter textarea {
  overflow: hidden;
}
.WeverseModal svg,
.WeverseEditor svg,
.WeverseViewer svg,
.WeverseSorter svg {
  display: block;
}

.WeverseModal .blind,
.WeverseViewer .blind,
.WeverseEditor .blind,
.WeverseSorter .blind {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.WeverseModal .scroll_none,
.WeverseViewer .scroll_none,
.WeverseEditor .scroll_none,
.WeverseSorter .scroll_none {
  overflow: hidden;
}

.WeverseViewer p,
.WeverseEditor p {
  font-size: 15px;
  line-height: 1.5;
}
.WeverseViewer .gHashTag,
.WeverseEditor .gHashTag {
  color: #00c0b5;
  font-weight: 500;
}
.WeverseViewer .gOuterLink,
.WeverseEditor .gOuterLink {
  color: #3190ff;
  font-weight: 500;
}
.WeverseViewer .WidgetPhoto .photo_wrap,
.WeverseEditor .WidgetPhoto .photo_wrap {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 14px;
  vertical-align: top;
}
.WeverseViewer .WidgetPhoto .photo_wrap::before,
.WeverseEditor .WidgetPhoto .photo_wrap::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  border: 1px solid rgba(0, 0, 0, 0.04);
  border-radius: inherit;
}
.WeverseViewer .WidgetPhoto .photo,
.WeverseEditor .WidgetPhoto .photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.WeverseViewer .WidgetPhoto .badge_gif,
.WeverseEditor .WidgetPhoto .badge_gif {
  position: absolute;
  right: 8px;
  bottom: 8px;
  width: 27px;
  height: 11px;
  padding: 3px 0;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 9px;
  line-height: 11px;
  text-align: center;
}
.WeverseViewer .WidgetSnippet .snippetWrap,
.WeverseEditor .WidgetSnippet .snippetWrap {
  display: flex;
  overflow: hidden;
  height: 178px;
  border: 1px solid #e4e4e4;
  border-radius: 14px;
}
.WeverseViewer .WidgetSnippet .wrapSnippetImage,
.WeverseEditor .WidgetSnippet .wrapSnippetImage {
  position: relative;
  flex-shrink: 0;
  width: 180px;
}
.WeverseViewer .WidgetSnippet .wrapSnippetImage::before,
.WeverseEditor .WidgetSnippet .wrapSnippetImage::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  border: 1px solid rgba(0, 0, 0, 0.04);
  border-radius: 13px 0 0 13px;
}
.WeverseViewer .WidgetSnippet .wrapSnippetImage .thumbnail,
.WeverseEditor .WidgetSnippet .wrapSnippetImage .thumbnail {
  object-fit: cover;
}
.WeverseViewer .WidgetSnippet .wrapSnippetContent,
.WeverseEditor .WidgetSnippet .wrapSnippetContent {
  flex-grow: 1;
  min-width: 0;
  padding: 22px 30px 22px 20px;
}
.WeverseViewer .WidgetSnippet .title,
.WeverseEditor .WidgetSnippet .title {
  word-break: break-word;
  overflow-wrap: break-word;
  display: -webkit-box;
  overflow: hidden;
  height: 48px;
  line-height: 24px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 18px;
}
.WeverseViewer .WidgetSnippet .description,
.WeverseEditor .WidgetSnippet .description {
  word-break: break-word;
  overflow-wrap: break-word;
  display: -webkit-box;
  overflow: hidden;
  height: 40px;
  line-height: 20px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-top: 6px;
  color: #666;
  font-size: 14px;
}
.WeverseViewer .WidgetSnippet .link,
.WeverseEditor .WidgetSnippet .link {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 24px;
  color: #666;
  font-size: 14px;
  line-height: 17px;
}</style><link rel="stylesheet" type="text/css" href="https://cdn-v2pstatic.weverse.io/wev_web_fe/p/2_32_4/public/static/css/6520.08be1ae1.chunk.css"><link rel="stylesheet" type="text/css" href="https://cdn-v2pstatic.weverse.io/wev_web_fe/p/2_32_4/public/static/css/1273.466742ba.chunk.css"><link rel="stylesheet" type="text/css" href="https://cdn-v2pstatic.weverse.io/wev_web_fe/p/2_32_4/public/static/css/8723.bf08430e.chunk.css"><link rel="stylesheet" type="text/css" href="https://cdn-v2pstatic.weverse.io/wev_web_fe/p/2_32_4/public/static/css/5616.deee73c1.chunk.css"><link rel="stylesheet" type="text/css" href="https://cdn-v2pstatic.weverse.io/wev_web_fe/p/2_32_4/public/static/css/842.2c3010a2.chunk.css"><link rel="stylesheet" type="text/css" href="https://cdn-v2pstatic.weverse.io/wev_web_fe/p/2_32_4/public/static/css/6160.d6c47e93.chunk.css"><link rel="stylesheet" type="text/css" href="https://cdn-v2pstatic.weverse.io/wev_web_fe/p/2_32_4/public/static/css/5756.8f78068a.chunk.css"><link rel="stylesheet" type="text/css" href="https://cdn-v2pstatic.weverse.io/wev_web_fe/p/2_32_4/public/static/css/5502.5fe1d06c.chunk.css"><link rel="stylesheet" type="text/css" href="https://cdn-v2pstatic.weverse.io/wev_web_fe/p/2_32_4/public/static/css/3097.fa822fde.chunk.css"><link rel="stylesheet" type="text/css" href="https://cdn-v2pstatic.weverse.io/wev_web_fe/p/2_32_4/public/static/css/6085.6a8b460a.chunk.css"><link rel="stylesheet" type="text/css" href="https://cdn-v2pstatic.weverse.io/wev_web_fe/p/2_32_4/public/static/css/2312.89937119.chunk.css"><link rel="stylesheet" type="text/css" href="https://cdn-v2pstatic.weverse.io/wev_web_fe/p/2_32_4/public/static/css/8627.ad76b8b4.chunk.css"><link rel="stylesheet" type="text/css" href="https://cdn-v2pstatic.weverse.io/wev_web_fe/p/2_32_4/public/static/css/9992.601c24fa.chunk.css"><link rel="stylesheet" type="text/css" href="https://cdn-v2pstatic.weverse.io/wev_web_fe/p/2_32_4/public/static/css/2058.813dd45f.chunk.css"><link rel="stylesheet" type="text/css" href="https://cdn-v2pstatic.weverse.io/wev_web_fe/p/2_32_4/public/static/css/8014.ddd598af.chunk.css"><link rel="stylesheet" type="text/css" href="https://cdn-v2pstatic.weverse.io/wev_web_fe/p/2_32_4/public/static/css/8854.dd1f0ba2.chunk.css"><script type="text/javascript" charset="utf8" async="" src="https://www.youtube.com/iframe_api"></script><link rel="stylesheet" type="text/css" href="https://cdn-v2pstatic.weverse.io/wev_web_fe/p/2_32_4/public/static/css/5874.cbec4f20.chunk.css"><link rel="stylesheet" type="text/css" href="https://cdn-v2pstatic.weverse.io/wev_web_fe/p/2_32_4/public/static/css/9736.85413469.chunk.css"><link rel="stylesheet" type="text/css" href="https://cdn-v2pstatic.weverse.io/wev_web_fe/p/2_32_4/public/static/css/3375.71b7b80f.chunk.css"><link rel="stylesheet" type="text/css" href="https://cdn-v2pstatic.weverse.io/wev_web_fe/p/2_32_4/public/static/css/8058.bea4adc8.chunk.css"><link rel="stylesheet" type="text/css" href="https://cdn-v2pstatic.weverse.io/wev_web_fe/p/2_32_4/public/static/css/469.e801848f.chunk.css"><link rel="stylesheet" type="text/css" href="https://cdn-v2pstatic.weverse.io/wev_web_fe/p/2_32_4/public/static/css/628.15e8517f.chunk.css"><link rel="stylesheet" type="text/css" href="https://cdn-v2pstatic.weverse.io/wev_web_fe/p/2_32_4/public/static/css/525.b4385862.chunk.css"><link rel="stylesheet" type="text/css" href="https://cdn-v2pstatic.weverse.io/wev_web_fe/p/2_32_4/public/static/css/2457.ba8f01cc.chunk.css"><link rel="stylesheet" type="text/css" href="https://cdn-v2pstatic.weverse.io/wev_web_fe/p/2_32_4/public/static/css/6606.02c5a363.chunk.css">