@charset "UTF-8";

/* 프로젝트 기안 등록&목록 버튼 위치 조정 */
#projectReg {
  justify-content: right; 
  display: flex;
  gap: 10px;
  padding-top: 30px;
}

/* 프로젝트 기안 상세 수정 버튼 위치 조정 */


/* detail.jsp */
.icon-spacing {
  margin-right: 10px;
}

* {
  box-sizing: border-box;
}
#tbTtl {
  text-align: center;
  background-color: whitesmoke;
  padding-top: 10px; 
  padding-bottom: 10px; 
  margin: 50px;
}
#tbCn{
  padding-left: 10px;
  margin:50px;
}
input{
  border-width: 0;
}
p{
  margin: 5px;
}
textarea{
  border: 0;
  width: 100%;
  font-size: x-large;
  height: 500px;
}
pre{
  white-space: pre-wrap; 
  word-wrap: break-word;
}

/* 프로젝트 상세화면 최소높이 */
.minHeight {
	min-height: 500px;
}

/* footer 겹치지 않게 밀기 */
#detailPadding {
	position: relative;
	padding-bottom: 120px;
/* 	min-height: 100vh; */
}

/* "기간" 백분율 세로중앙정렬 */
#durationFont{
	display: flex;
	justify-content: center;
	align-items: center;
}

/* "기간" 높이설정 */
.durationHeight{
	height: 71vh;
}

/* "기간" 날짜범위 글자크기 조정 */
.durationFontSize{
	font-size: 25px !important;
}

/* "진행경과" 막대그래프 위 퍼센트표시 */
#progressContainer {
    position: relative !important; /* 자식 요소 위치 설정을 위한 relative */
    height: 40px ; /* 진행 바 높이 */
/*     display: flex; 플렉스 박스를 사용하여 정렬 */
/*     align-items: center; 세로 중앙 정렬 */
}

/* 퍼센티지 텍스트 스타일 */
.progress-text {
    position: absolute !important; /* 진행 바 위에서 절대 위치 */
    top: 50% !important; /* 부모의 맨 위쪽 */
    left: 50% !important; /* 가로 중앙 정렬 */
    transform: translate(-50%, -50%) !important; /* 가로 중앙 정렬 보정 */
    font-size: 14px !important; /* 텍스트 크기 */
    font-weight: bold !important; /* 텍스트 굵게 */
    z-index: 2 !important; /* 진행 바 위에 표시 */
}

/* 진행 바 */
.progress-bar {
    z-index: 1 !important; /* 퍼센티지 텍스트 아래에 렌더링 */
}

/* 온클릭 커서 및 아이콘 정렬 */
.movePage {
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}












