@charset "UTF-8";

/* 페이징, 등록 삭제 버튼 영역 */
#divMove {
	padding-top: 5vh;
	padding-bottom: 0.5vh;
	margin-bottom: 10px;
}

/* 테이블 명 */
.pageTitle {
	padding-left: 0.2vw;
}

/* 본문 전체 영역 */
.content-wrapper {
	padding-left: 0vw !important;
}